################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RunAffectedTestsCommand/bin/Debug
/RunAffectedTestsCommand/obj/Debug
/TestImpactAnalyzer.Console/bin/Debug
/TestImpactAnalyzer.Console/obj/Debug
/TestImpactAnalyzer.Lib/bin/Debug
/TestImpactAnalyzer.Lib/obj/Debug
/TestImpactAnalyzer.UnitTests/bin/Debug
/TestImpactAnalyzer.UnitTests/obj/Debug
/.vs/TestImpactAnalyzer/v14
/TestImpactAnalyzer.Lib.Samples/bin/Debug
/TestImpactAnalyzer.Lib.Samples/obj/Debug
/TestResults
*.user
/TestImpactAnalyzer.Web/bin
/TestImpactAnalyzer.Web/obj/Debug
